<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0">
    <div class="mr-5 ml-5 py-4">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h5 class="h4 text-white"> <img class="headingimgcss" src="https://cdn-icons-png.flaticon.com/512/3084/3084978.png" />  Blue Sky Lands(PVT)</h5>
                <p class="small text-muted">We have a committed team ready to help you with any questions you may have.
                    Get in touch with us right away, and we'll help you find the ideal property for sale in Sri Lanka.
                </p>
                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary"
                        href="#">https://blueskylands.netlify.app/</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Our Services</h5>
                <ul class="list-unstyled text-muted">
                    <li><a  routerLink="/lands">Land Selling</a></li>
                    <li><a routerLink="/apartments">Apartment Selling</a></li>
                    <li><a routerLink="/houses">Houses Selling</a></li>
                    <li><a routerLink="/aboutus">About Us</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Privacy Policy</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Conditions</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Copyrights</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Contact Us</h5>
                <p class="small text-muted">Get in touch with us right away, and we'll help you find the ideal property
                    in Sri Lanka.</p>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Enter your Email"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2" type="button"><i
                                class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>

            <div style="text-align: center; width: 100%; margin-bottom: -20px; margin-top: 10px; font-size: smaller;">
                
                <div class="social-icons mb-2">
                    <a href="#" class="social-icon"> <i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon"> <i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon"> <i class="fa fa-rss"></i></a>
                    <a href="#" class="social-icon"> <i class="fa fa-youtube"></i></a>
                    <a href="#" class="social-icon"> <i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon"> <i class="fa fa-github"></i></a>
                </div>
                <span class="text-muted" style="letter-spacing: 4px; word-spacing: 5px;">Designed and Developed by Kamindu Gayantha</span>
            </div>
        </div>
    </div>
</footer>