<div style="margin-top:100px;">
    
    <section class="content2 cid-s1YQ6E1SFC" id="content2-e">
    
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12 md-pb">
                    <img src="https://cdn-icons-png.flaticon.com/512/3084/3084978.png" alt="Mobirise">
                </div>
    
                <div class="col-lg-6 col-md-12 md-pb">
                    <div class="title-wrapper align-left">
                        <div class="line"></div>
                        <h3 class="mbr-section-title mbr-white mbr-semibold pb-3 mbr-fonts-style display-2">About Us</h3>
                        <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7">
                            Blue Sky Lands is a real estate company that provides a platform for landowners to sell their 
                            lands and for buyers to buy lands. We are a team of dedicated professionals who are committed
                            to providing the best service to our customers. We are here to help you find the ideal property
                             in Sri Lanka.<br><br>
                             We have a committed team ready to help you with any questions you may have.
                                Get in touch with us right away, and we'll help you find the ideal property for sale in Sri Lanka.
                             You can contact us via our contact details given below.

                            <br><br>
                            Mobile - <a href="tel:+94715273881" class="text-primary">+94 71 527 3881</a><br>
                            Email - <a href="mailto:kamidugayantha123@gmail.com" class="text-primary"> kamidugayantha123@gmail.com</a>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>