<div style="margin-top:130px;">

  <div class="row mr-5 ml-5">

    <div *ngFor="let lands of landsData" class="card-wrapper col-lg-3 col-md-6 col-xs-12 mb-5">
      <mat-card class="example-card">
        <!-- <mat-card-header class="cardheader">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{lands.name}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image src={{lands.image}} class="landImage" alt="Photo of land">
        <mat-card-content style="margin-top: 10px;">
          <p>{{ lands.name?.toUpperCase() }}</p>
          <span class="disabled"> {{lands.location}}</span>
          <p> Rs.{{lands?.price?.toLocaleString(undefined, {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
            }) || 0.00}} Upward</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="cardfooter">
            <button mat-button>MORE DETAILS</button>
            <button mat-button>BUY</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>