.bodydialog {
    background-color: rgb(255, 255, 255);
    color: black;
}

.bodydialog h1,h5,p,span {
    color: black;
}

.landImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.bodydialog button {
    color: black;
    background-color: #e0e0e0;
}

.cardfooter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0px 10px 10px 10px;
  }